<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Add New Task</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class=""></div>
            <input #taskTitle class="input" type="text" placeholder="Type task title here ...">
            <div class="p16"></div>
            <textarea #taskDesc class="textarea" placeholder="Type task description here ..."></textarea>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success" (click)="createTask(taskTitle.value, taskDesc.value)">Save</button>
            <button class="button">Cancel</button>
        </footer>
    </div>
</div>
