<div class="centered-content">
    <div class="main-container">
        <div class="lists-container">
            <div class="top-bar">
                <h1 class="title">Tasks</h1>
                <div class="is-right">
                    <button class="button add-task-btn" routerLink="/new-task">
                        <i class="fas fa-plus-circle add-task-icon"></i> Add Task
                    </button>
                </div>
            </div>

            <!-- Task Elements -->
            <div class="task" *ngFor="let task of tasks">
                <div class="task-title">
                    <p>{{ task.title }}</p>
                </div>
                <div class="task-buttons">
                    <button class="button">
                        <div class="icon">
                            <i class="fas fa-edit"></i>
                        </div>
                    </button>
                    <button class="button is-danger">
                        <div class="icon">
                            <i class="fas fa-trash"></i>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
